sandbox
Sandbox
examples
benchmark
benchmark.csv
docs
todo.org
tools/*
!tools/rewrite_goe_licenses.pl
!tools/scramble_korapxml.pl
build
fixtures.txt
node_modules
log
blib
MYMETA*
Makefile
pm_to_blib
nytprof.out
nytprof
\#*#
*.tar.gz
*~
*.sqlite
*.log
*.db
*.old
*.tmp
*.cache
.*
!.gitignore
!.github

# Protected checks
t/corpus/BRZ13
t/corpus/DCK
t/corpus/AGD-orig
t/corpus/FOLK-orig
t/real/dck.t
